<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- <property name="connection.url"/> -->
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="com.nco.entities.NcoBankEntity"/>
    <mapping resource="NcoBankEntity.hbm.xml"/>
    <mapping class="com.nco.entities.NcoBodyHpUpdateEntity"/>
    <mapping resource="NcoBodyHpUpdateEntity.hbm.xml"/>
    <mapping resource="NcoBuyArmorEntity.hbm.xml"/>
    <mapping class="com.nco.entities.NcoBuyArmorEntity"/>
    <mapping class="com.nco.entities.NcoCriticalInjuriesEntity"/>
    <mapping resource="NcoCriticalInjuriesEntity.hbm.xml"/>
    <mapping class="com.nco.entities.NcoFameEntity"/>
    <mapping resource="NcoFameEntity.hbm.xml"/>
    <mapping resource="NcoImproveEntity.hbm.xml"/>
    <mapping class="com.nco.entities.NcoImproveEntity"/>
    <mapping resource="NcoInstallEntity.hbm.xml"/>
    <mapping class="com.nco.entities.NcoInstallEntity"/>
    <mapping class="com.nco.entities.NcoPcEntity"/>
    <mapping resource="NcoPcEntity.hbm.xml"/>
  </session-factory>
</hibernate-configuration>